# I. Рядки (String).

1. Створити пустий рядок двома різними способами.

In [ ]:
empty_str = ''
empty_str

2. Створити рядок з апострофом.

In [ ]:
my_string = "За вікном ластівки в’ють гніздо."
print(my_string)

3. Створити рядок з символом переходу на новий рядок та роздрукувати його в консоль.

In [ ]:
my_string = "Ласкаво просимо. \nВітаємо в Україні."
print(my_string)

4. Зробити рядок з завдання №3 "сирим"(raw), вивести в консоль та порівняти з результатом в попередному завданні.

In [ ]:
my_string = r"Ласкаво просимо. \nВітаємо в Україні."
print(my_string)

*Пояснення:* У цьому коді 'r' був використаний  перед рядком, щоб створити сирий рядок my_string. Після виконання коду, \n залишається як літерали в рядку, і не стає символом переходу на новий рядок.

5. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
my_surname = 'Zhuravel'
f_string = f"My surname is {my_surname}"
print(f_string)

6. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
string = "My dog is crazy"
my_list = string.split()
print(my_list)

# II. Множини (Set).

**7**. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
empty_set = set()
empty_set.add(0)
empty_set.add(16)
print(empty_set)

*Пояснення:* Множини є змінним типом даних. їх можна змінювати, додавати елементи, видаляти їх і так далі.

8. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = set([1, 1, 2, 3, 7, 7, 8, 9])
my_set = set(my_list)
my_unique_list = list(my_set)
my_unique_list

*Пояснення:* Множин 'set' має особливість, що воно не може містити дублюючіся значення. При створені множини зі списку, у якому є дублюючіся елементи, зберігаються лише унікальні значення, а дублікати відкидаються.

9. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [ ]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a | b # обʼєднання

In [ ]:
a & b # пересічі

In [ ]:
a - b # різниці

In [ ]:
b - a # різниці

In [ ]:
a ^ b # симетричної різниці

10. Створіть множину з пʼяти елементів. За допомогою спеціального методу, вилучіть три елементи один за одним з множини. Чи може гарантуватися порядок елементів у множинах?

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.remove(1)
my_set.remove(3)
my_set.remove(4)
print(my_set)

*Пояснення:* Множини є неупорядкованими, тобто порядок елементів у множині не гарантується і може змінюватися.

# III. Словники (Dictionary).

11. Створіть пустий словник двома способами.

In [ ]:
empty_dict = dict()

In [ ]:
empty_dict2 = {}

12. До одного зі словників вище додайте чотири пари елементів такі, щоб їхні ключі були різних типів.

In [ ]:
dict = {1: 'a',
        2: 'b',
        'c': True,
        (0,3): [2, 3, 4],
        '78': 67,
        ('apple'): 'Fruits'}
dict

*чи може список бути ключем? а значенням? чому?
>*Пояснення:*  
* Список не може бути ключем в словнику, оскільки список є змінюваним об'єктом.
* Значення в словнику може бути будь-яким об'єктом, включаючи інші списки.

13. Використовуючи той самий словник, отримайте по ключу будь-яке значення з наявних. Тепер видаліть цю пару ключ-значення. Спробуйте знову отримати значення по цьому ж ключу. Використовуючи спеціальний метод, виправте помилку.

# IV. Оператори порівняння та логічні оператори. Умови.

14. Створіть цілочисленну змінну зі своїм щасливим або улюбленим числом. Напишіть код, який би автоматизовував наступну задачу.

Якщо число парне, помножте його на 2 та виведіть результат на екран.

Але якщо число непарне, помножте його на 3 та додайте 1 і виведіть на екран.

15. Створіть рядок зі своїм імʼям латинкою. Напишіть код, який би автоматизовував наступну задачу.

Якщо в імені є літера "а"
 або "i", Виведіть на екран повідомлення "A or I is in the name".



Якщо в імені є літери "o" та "n", Виведіть на екран повідомлення "O and N is in the name".

Також якщо в імені немає літери "о", але є "n", Виведіть на екран повідомлення "Only N is in the name".

В решті випадків виведіть на екран повідомлення "There is no N in the name, but there might be O".

Зверніть увагу, що, наприклад, для імені "Antonina" буде виведено два повідомлення.

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.